.tab-container{
    background: #2F2144;
    text-align: center;
    padding: 100px 10px 10px;

}

.tabs a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    margin-top:5px
}

.active{
    color: #00B168 !important;
}