<app-tabs></app-tabs>
<main>


    <h2 class="text-start">
    Cookies Policy for Romp Gaming App
    </h2>

    <p>
        Effective Date: July 1, 2023
    </p>
    
    <p>
        This Cookies Policy (“Policy”) explains how Almonzo Games Private Limited (“we,” “our,” or “us”) uses cookies and similar tracking technologies on the Romp gaming app (“App”) and the website getromp.in (collectively referred to as the “Platform”). By accessing or using the Platform, you consent to the use of cookies and other tracking technologies as described in this Policy. If you do not agree to this Policy, you may not access or use the Platform.
    </p>
    
   <p>
    1. What are Cookies?
    Cookies are small text files that are stored on your device (computer, smartphone, or tablet) when you visit a website or use an app. They serve various purposes, such as improving the user experience, analyzing website/app performance, and providing personalized content and advertisements.
   </p>
    
    <p>
        2. Types of Cookies We Use:
    a. Essential Cookies: These cookies are necessary for the operation of the Platform, enabling you to navigate the website and use its features. They do not collect personally identifiable information.
    </p>
    
    <p>
        b. Performance and Analytics Cookies: We use these cookies to collect information about how users interact with the Platform, such as the number of visitors, pages visited, and error messages. This helps us analyze and improve the performance and usability of the Platform.
    </p>
    
    <p>
        c. Functionality Cookies: These cookies enable the Platform to remember your preferences, such as language settings, and provide enhanced and personalized features.
    </p>
    
    <p>
        d. Advertising and Targeting Cookies: We may use these cookies to deliver personalized advertisements and promotional content based on your interests and online activities. They help us measure the effectiveness of our marketing campaigns.
    </p>
    
 <p>
    3. Third-Party Cookies:
    We may allow third-party service providers to place cookies on the Platform for the purposes of analytics, advertising, and other functionalities. These third parties may collect information about your online activities over time and across different websites and apps.
 </p>
    
    <p>
        4. Managing Cookies:
    a. You can control and manage cookies through your browser or device settings. Most browsers allow you to refuse or accept cookies, delete existing cookies, or set preferences for certain websites. Please note that disabling cookies may impact your user experience and limit certain functionalities.
    </p>
    
    <p>
        b. For more information on how to manage cookies, you can refer to your browser’s help section or visit websites such as aboutcookies.org.
    </p>
    
   <p>
    5. Consent:
    By continuing to use the Platform, you consent to the placement of cookies on your device as described in this Policy. If you do not consent to the use of cookies, please adjust your browser or device settings accordingly or refrain from using the Platform.
   </p>
    
   <p>
    6. Changes to the Cookies Policy:
    We reserve the right to modify or update this Cookies Policy from time to time. Any changes will be effective upon posting of the revised Policy. We encourage you to review this Policy periodically to stay informed about our use of cookies.
   </p>
    
   <p>
    7. Contact Us:
    If you have any questions or concerns regarding this Cookies Policy, you can contact us at legal@getromp.in.
    
   </p>
  
   <p>
    By accessing or using the Romp gaming app or the website getromp.in, you acknowledge that you have read and understood this Cookies Policy and consent to the use of cookies as described herein.

   </p>

</main>