<app-tabs></app-tabs>
<main>




   <h2 class="text-start"> Privacy Policy for Romp Gaming App</h2>

    <p>Effective Date: [Date]</p>
    
    <p>
        This Privacy Policy describes how Almonzo Games Private Limited (“we,” “our,” or “us”) collects, uses, shares, and protects personal information when you use the Romp gaming app, available on the website getromp.in (the “App”). By accessing or using the App, you consent to the practices described in this Privacy Policy.
    </p>
    
    <p>1. Information We Collect:
        a. Personal Information: When you create an account or use the App, we may collect certain personal information, including your name, email address, date of birth, and contact details.
        b. Device Information: We may automatically collect information about the device you use to access the App, including IP address, operating system, device identifiers, and mobile network information.
        c. Usage Information: We may collect information about your interactions with the App, such as gameplay activity, game preferences, and achievements.
        d. Payment Information: If you choose to make in-app purchases, we may collect payment information, such as your credit card or other financial account details. However, we do not store or process payment information directly. Such information is securely processed by third-party payment processors.
    </p>
    
  <p>
    2. Use of Information:
    a. We use personal information to provide, maintain, and improve the App, as well as to communicate with you, fulfill your requests, and respond to your inquiries.
    b. We may use aggregated and anonymized data for research, analytics, and statistical purposes.
    c. If you provide your consent, we may send promotional emails, newsletters, or other marketing communications. You can opt-out of receiving such communications at any time.
    d. We do not sell or rent your personal information to third parties.
  </p>
    
    <p>
        3. Data Sharing and Disclosure:
    a. We may share personal information with our affiliated companies, service providers, and business partners who assist us in providing and improving the App. These third parties are obligated to maintain the confidentiality and security of the personal information.
    b. We may disclose personal information if required by law, court order, or governmental authority to protect our legal rights, enforce our Terms of Service, or respond to claims of illegal activities.
    c. In the event of a merger, acquisition, or sale of all or a portion of our assets, personal information may be transferred to the acquiring entity, subject to the same privacy protections as outlined in this Privacy Policy.
    </p>
    
   <p>
    4. Data Security:
    a. We take appropriate technical and organizational measures to protect personal information from unauthorized access, alteration, disclosure, or destruction.
    b. Despite our efforts, no data transmission over the internet or storage system can be guaranteed to be 100% secure. Therefore, we cannot warrant the absolute security of your personal information.
   </p>
    
   <p>
    5. Third-Party Links and Services:
    The App may contain links to third-party websites or services that are not controlled or operated by us. This Privacy Policy does not apply to those third-party services, and we are not responsible for their privacy practices. We encourage you to review the privacy policies of those third parties before providing any personal information.
   </p>
    
    <p>
        6. Children’s Privacy:
    The App is not intended for children under the age of 13. We do not knowingly collect personal information from children under the age of 13. If we become aware that we have inadvertently collected personal information from a child under the age of 13, we will take steps to delete such information.
    </p>
    
  <p>
    7. Changes to this Privacy Policy:
    We may update this Privacy Policy from time to time, and the revised version will be effective when it is posted. We will notify you of any material changes via email or through the App. Please review this Privacy Policy periodically to stay informed about how we collect, use, and protect your personal information.
  </p>
    
  <p>
    8. Contact Us:
    If you have any questions or concerns about this Privacy Policy or our privacy practices, you can contact us at legal@getromp.in.
  </p>
    
   <p>
    By using the Romp gaming app, you acknowledge that you have read and understood this Privacy Policy and agree to our collection, use, and disclosure of your personal information as described herein.


   </p>

</main>