<footer>
    <div class="container1">
        <div class="about" >
            <img height="50" src="assets/img/logo1.png" alt="">
            <p class="mt-4">
                Welcome to Romp, the ultimate online gaming app that will take you on a thrilling adventure through a virtual world of entertainment! Developed by Almonzo Games Private Limited, Romp is a gateway to an extraordinary realm where you can immerse yourself in a multitude of exciting games, all at your fingertips.
            </p>

            <h5>#GetRompOfficial</h5>
            <div class="social-links mt-2">
                <a href="https://www.facebook.com/gettompofficial"> <img width="10" src="assets/img/fb.png" alt=""></a>
                <a href="https://www.twitter.com/gettompofficial"> <img width="20" src="assets/img/tweet.png" alt=""></a>
                <a href="https://www.instagram.com/gettompofficial"> <img width="20" src="assets/img/insta.png" alt=""></a>
                <!-- <a > <img width="20" src="assets/img/teligram.png" alt=""></a> -->
            </div>
        </div>
        <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->

        <div class="subscribe ">
           <h3><b>Get it on</b></h3>
           <div class="mt-3"></div>
           <div style="position: relative;">
            <!-- <input class="subscribe-input" type="text" placeholder="enixostudio@gmail.com">
            <img class="send-icon" src="assets/img/send.png" alt=""> -->
            <div class="d-flex">
         <img width="50%" onclick="window.location.href='https://drive.google.com/file/d/157TT3jMyy8OtSMd9zvOkIz986rebN3Te/view?usp=sharing';"  src="assets/img/googleplay.png" alt="">
            <img width="50%" src="assets/img/appstore.png" alt="">
            </div>
           </div>

           <div>
           <h4 class="mt-2"> We accept</h4>
           <img class="partner" src="assets/img/partner.png" alt="">
           <!-- <div class="flex">
            <img width="100" src="assets/img/paytm.png" alt="">
            <img width="100"  src="assets/img/pay.png" alt="">
            <img width="100"  src="assets/img/rupay.png" alt="">
            <img width="100"  src="assets/img/visa.png" alt="">
           </div> -->
           </div>

            <div class="mt-4 ">
                <h4>All Games</h4>
                <div class="games">
                    <div> <a href="#">Ludo mater</a> <br> <a href="">Knife Hit</a>  <br> <a href="">Chess master</a>    </div> 
                    <div>  <a href=""> Snake master</a> <br>  <a href="">Archery 3D</a>  <br> <a href="">Bottle shooter</a> </div> 
                     <div> <a href="">Tic Tac Toe</a> <br> <a href="">Candy blast</a>  <br> <a href="">Carrom master</a> </div>
                </div>
       
            </div>
        </div>

    </div>

    <div class="critification text-center mt-5">
        <img class="imgg" src="assets/img/cirtification.png" alt="">
        <p class="mt-4">Disclaimer: Romp, the playground of unlimited fun and excitement, stands proudly on its own, devoid of any association or affiliation with any sport governing league or authorities. It remains a realm of boundless entertainment that graciously welcomes all players, except those residing in the enchanted lands of Assam, Odisha, Nagaland, Sikkim, Tamil Nadu, Andhra Pradesh, and Telangana, where its enchantments cannot reach. Furthermore, there may exist certain enchantment-laden restrictions in some additional states, which should be duly noted. To embark on this magical journey, one must possess the age of 18 years or older, as this extraordinary platform is meant to be explored by the wise and mature souls.</p>

        <div class="text1">
           <a> <span  routerLink="about">About Romp</span>  </a> &nbsp; &nbsp;
            <a  ><span routerLink="privacy">Privacy Policy</span></a> &nbsp; &nbsp;
            <a ><span routerLink="terms">Terms of use</span></a> &nbsp; &nbsp;
            <a ><span routerLink="dispute">Dispute Policy</span></a> &nbsp; &nbsp;
            <a href="https://medium.com/@romp/" ><span>Blog</span></a> &nbsp; &nbsp;
            <a href="mailto:support@romp.com" ><span>Contact us</span></a> &nbsp; &nbsp;
        </div>

    </div>

    <div class="container1 footer-end mt-4">
        <a class="mt-3" >
             Copyright © {{year}} Romp by Almonzo Games Private Limited
        </a>
        <a class=" mt-3" >
            CIN:U92490OR2022PTC038937
        </a>
        <a href="https://complexcode.in">
            <img width="250" src="assets/img/cc.png" alt=""></a>
    </div>
</footer>

<!-- Download Section -->
<section _ngcontent-lin-c17=""  class="download_section download-romp ">
    <button _ngcontent-lin-c17="" onclick="window.location.href='https://drive.google.com/file/d/157TT3jMyy8OtSMd9zvOkIz986rebN3Te/view?usp=sharing';"   class="download-romp ">Install Romp</button>
    <p _ngcontent-lin-c17="" class="download-romp "> Get upto
        <span _ngcontent-lin-c17="" class="">₹</span>100 bonus instant
    </p>
</section>