<section style="background: #2F2144;">
    <main class="flex">
        <div class="head-l">
            <h1>Play more <br>
                Switch less</h1>

            <h3 class="mt-3">Win upto ₹10 lakh only on #GetRomp</h3>


            <div class="d-flex mt-4">
                <img src="assets/img/qr-code.png" alt="">
                <div class="mt-4">
                    <h3> Scan QR code to <br>
                        Download the app</h3>
                </div>
            </div>

        </div>

        <div class="head-r">
            <img class="imgg" src="assets/img/boy.png" alt="">
        </div>
    </main>


    <div class="cc">
        <img class="cirtification" src="assets/img/cirtification.png" alt="">
    </div>



</section>

<section style="background: #E8E9EE;">
    <main>

        <div class="pt-5 text-center">
            <h2>Play skill & casual games</h2>
            <img width="300" src="assets/img/line.png" alt="">
            <p class="mt-4">
                Embark on a legendary quest through the games loved by all on Romp, where playing multiple adventures
                unveils the path to earn real cash.
            </p>
        </div>


        <div class="contain ">
            <div class="row">

                <div class="item">
                    <img src="assets/img/Archery.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/bubble.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/candy.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/carrom.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/fruit.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/knife.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/ludo.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/snake.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/tictac.png" alt="">
                </div>
                <div class="item">
                    <img src="assets/img/chess.png" alt="">
                </div>

            </div>
        </div>


        <div class="mt-5 text-center">
            <h2>Reviews & ratings</h2>
            <img width="300" src="assets/img/line.png" alt="">
            <p class="mt-4">
                Immerse yourself in our app’s captivating world of games loved by all on Romp, where users’ 5/5 ratings
                reflect an extraordinary experience that leaves them craving for more.
            </p>
        </div>

        <div class="contain">
            <div class="row">

                <div class="rating-box">
                    <img src="assets/img/dp.png" alt="">
                    <h3>Karthik K</h3>
                    <h6>Bengaluru, India</h6>
                    <p>
                        I recently discovered Romp, a gaming app that combines the classic game of Ludo with the
                        exhilarating opportunity to earn real cash. Let me just say, it has been an absolute blast!
                    </p>
                    <img src="assets/img/stars.png" alt="">

                </div>

                <div class="rating-box">
                    <img src="assets/img/dp.png" alt="">
                    <h3>Karthik K</h3>
                    <h6>Bengaluru, India</h6>
                    <p>
                        I recently discovered Romp, a gaming app that combines the classic game of Ludo with the
                        exhilarating opportunity to earn real cash. Let me just say, it has been an absolute blast!
                    </p>
                    <img src="assets/img/stars.png" alt="">

                </div>

                <div class="rating-box">
                    <img src="assets/img/dp.png" alt="">
                    <h3>Karthik K</h3>
                    <h6>Bengaluru, India</h6>
                    <p>
                        I recently discovered Romp, a gaming app that combines the classic game of Ludo with the
                        exhilarating opportunity to earn real cash. Let me just say, it has been an absolute blast!
                    </p>
                    <img src="assets/img/stars.png" alt="">

                </div>

            </div>
        </div>


        <div class="pt-5 text-center">
            <h2>Frequently asked questions</h2>
            <img width="300" src="assets/img/line.png" alt="">
            <p class="mt-4">
                Explore Romp with confidence! We’ve added a comprehensive FAQ section, providing pre-answers to commonly
                asked questions.
            </p>
        </div>

        <div class="contain">

            <div class="accordionn">
                <div class="accordionn-item" *ngFor="let item of faq; let i = index">
                    <input type="checkbox" id="accordionn-item-{{i}}" class="accordionn-item-checkbox">
                    <label for="accordionn-item-{{i}}" class="accordionn-item-label">
                        <span class="accordionn-item-position">{{item.title}}</span>
                        <span class="accordionn-item-arrow"></span>
                    </label>
                    <div class="accordionn-item-content">
                        <div class="">
                            {{item.desc}}
                        </div>
                    </div>
                </div>

            </div>



        </div>



        <div class="pt-5 text-center">
            <h2>Proud partners</h2>
            <img width="300" src="assets/img/line.png" alt="">
            <p class="mt-4">
                Grateful for our esteemed partners, standing strong as proud members, as we strive to deliver
                exceptional gaming experience.
            </p>
        </div>

<div class="contain">
    
    <div class="partner">
        <img src="assets/img/stripe.png" alt="">
    </div>
    <div class="partner">
        <img src="assets/img/phonepay.png" alt="">
    </div>
    <div class="partner">
        <img src="assets/img/qomet.png" alt="">
    </div>
    <div class="partner">
        <img src="assets/img/mailchimp.png" alt="">
    </div>
</div>


    </main>
</section>



