<app-tabs></app-tabs>
<main>



   <h2 class="text-start">Refund & Cancellation Policy for Romp Gaming App</h2>

    <p>
        Effective Date: July 1, 2023
    </p>
    
<p>
    This Refund & Cancellation Policy (“Policy”) describes the terms and conditions governing refunds and cancellations for the Romp gaming app (“App”), owned and operated by Almonzo Games Private Limited (“we,” “our,” or “us”). By accessing or using the App, you agree to be bound by this Policy. If you do not agree to this Policy, you may not access or use the App.
</p>
    
  <p>
    1. In-App Purchases:
    a. The App may offer in-app purchases, including virtual currency, items, or subscriptions.
    b. All in-app purchases are final and non-refundable unless otherwise stated in this Policy or as required by applicable law.
  </p>
    
   <p>
    2. Refunds:
    a. We strive to provide a high-quality user experience. However, if you encounter any technical issues or problems with your in-app purchase, please contact our customer support at legal@getromp.in for assistance.
    b. We may provide refunds or credits at our sole discretion, depending on the circumstances and nature of the issue.
    c. Refund requests must be submitted within [number of days] days from the date of purchase. Late refund requests may not be considered.
   </p>
    
   <p>
    3. Cancellations:
    a. Subscriptions: If you have purchased a subscription through the App, you may cancel the subscription at any time. The cancellation will be effective at the end of the current billing cycle.
    b. To cancel a subscription, please follow the cancellation instructions provided within the App or contact our customer support at legal@getromp.in for assistance.
   </p>
    
   <p>
    4. Third-Party Platforms:
    a. If you made an in-app purchase through a third-party platform, such as an app store, your refund or cancellation may be subject to the policies and terms of that platform. Please review the respective platform’s refund and cancellation policies for more information.
   </p>
    
  <p>
    5. Changes to Purchases and Policy:
    a. We reserve the right to modify, suspend, or terminate any in-app purchase, item, or subscription offered through the App at any time, with or without notice.
    b. We may revise this Policy from time to time. The revised version will be effective upon posting. Your continued use of the App after the posting of any changes constitutes your acceptance of the revised Policy.
  
  </p>  
  
  <p>
    6. Contact Us:
    If you have any questions or concerns regarding this Refund & Cancellation Policy, you can contact us at legal@getromp.in.
    
  </p>
   
  <p>
    Please note that this Policy applies solely to in-app purchases made through the Romp gaming app. Any other refund requests or cancellations related to third-party services, such as payment processors or external websites, are subject to the respective service provider’s policies and terms.
  </p>
    
   <p>
    By accessing or using the Romp gaming app, you acknowledge that you have read and understood this Refund & Cancellation Policy and agree to be bound by its terms.
   </p>



</main>